<% provide :title, t(".title") %>
<div class="flex gap-x-12">
  <div class="w-3/12">
    <%= render partial: "shared/stats" %>
  </div>
  <div class="w-8/12">
    <%= render @posts %>
    <% if @posts.any? %>
      <div class="text-center mt-4">
        <%== pagy_nav @pagy %>
      </div>
    <% end %>
  </div>
</div>
