<% provide :title, t(".title") %>
<div class="mx-auto w-3/5 mt-2">
  <div class="text-right mb-5">
    <%= link_to t(".create"), new_post_path, class: "text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-md px-5 py-2.5" %>
  </div>
  <% if @posts.any? %>
    <%= render @posts %>
    <div class="text-center mt-4">
      <%== pagy_nav @pagy if @pagy.pages > 1 %>
    </div>
  <% else %>
    <%= render partial: "shared/empty_message", locals: {message: t(".empty_list")} %>
  <% end %>
</div>
